
.background001 {
  background-color: rgb(30, 255, 221);
  width: 100%;
  max-width: 900px;  
  margin: auto;
  border-radius: 20px;
  height: auto;       
  padding: 18px;
}      

p {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
}


.button,
.button_1,
.button_2 {
  flex: 1 1 22%;  
  max-width: 205px;
  height: 205px;
  font-size: 68px;
  border: none;
  font-weight: bold;
  border-radius: 55px;
  margin: 10px;
  cursor: pointer;
}

.button {
  background-color: black;
  color: white;
}
.button:hover {
  background-color: rgb(35, 31, 27);
}

.button_1 {
  background-color: rgb(255, 136, 0);
  color: white;
}
.button_1:hover {
  background-color: rgb(230, 116, 2);
}

.button_2 {
  background-color: rgb(14, 164, 239);
  color: white;
}
.button_2:hover {
  background-color: rgb(92, 112, 216);
}

.display {
  width: 95%;
  height: 200px;     
  border-radius: 20px;
  padding: 20px;
  font-size: 72px;
  border: 1px solid #000000;
  margin-bottom: 20px;
  background-color: black;
  color: white;
  text-align: right;
  word-wrap: break-word;
}


.author {
  color: rgb(3, 40, 255);
  text-align: center; 
  font-size: 30px;
  padding-top: 20px;
  font-style: italic;
}
